body{
    background-image: url(https://images.everydayhealth.com/images/the-best-teas-for-your-health-1440x810.jpg?w=1110) ;
    padding: -5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.menu{
    background-color: mistyrose ;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 500px;
    opacity: 90%;

}
header, h2, footer{
    text-align: center;
}
h1{
    font-size: 30px;
    margin-top: 0%;
    margin-bottom: 15px;
}
h2{
    font-size: 20px;
}
h1,h2{
    font-family: Impact;
}
.flavor, .snack{
    text-align: left;
    width: 75%;
}
.price{
    text-align: right;
    width: 25%;
}
.item p{
    display: inline-block;
    margin: auto;
    font-size: 15px;
}
hr{
    height: 2px;
    background-color: brown;
    border-color: brown;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.est{
    font-style: italic;
}
.bottom-line{
    margin-top: 15px;
}
.copyright{
    font-size: 13px;
}